/*
  Colors: http://getuicolors.com
*/

/* Setup */


:root {
  --black: #000000;
  --almost-black: #263238;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #1E88E5;
  --primary-dark: #1976D2;
  --secondary: #CFD8DC;
  --secondary-dark: #B0BEC5;
  --red: #EF4836;
  --yellow: #c0a213;
  --blue: #310564;
}

* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--almost-white);
  background: var(--blue);
}

/* Typography */
.center {
  text-align: center;
}

h1 {
  margin: 0.5em 0 1em;
  font-size: 26px;
  line-height: 1.2;
  color: var(--almost-white);
}

h2 {
  margin: 0.5em 0 1em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--almost-white);
}

p {
  margin: 24px 0;
}

/* Cards */
.card-wrapper {
  margin: 0 auto;
  padding: 90px 30px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.card {
  margin: 0 30px 60px;
  padding: 10px 40px;
  width: 460px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(blue);
}

.menu {
  margin: 0 10px 20px;
  padding: 10px 20px;
  width: 820px;
  /* box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15); */
  border-radius: 5px;
  background: var(blue);
}

@media only screen and (max-width: 520px) {
  .card-wrapper {
    padding: 30px 0 0;
  }
}

@media only screen and (max-width: 520px) {
  .card {
    margin: 0 0 30px;
    width: 100%;
    border-radius: 0;
  }
}

/* Forms */
form {
  transition: opacity .15s ease;
}

form.loading {
  pointer-events: none;
  opacity: 0.75;
}

label {
  margin: 0 0 2px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--almost-white);
  display: block;
}

.field {
  margin: 0 0 24px;
  padding: 11px 16px 9px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  color: var(--almost-black);
  border: 1px solid var(--grey);
  border-radius: 4px;
  /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); */
  display: block;
  background: var(--almost-white);
  transition: border-color .15s ease;
}

.field:focus {
  border-color: var(--grey-medium);
  outline: none;
}

.error {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--red);
}

.error--hidden {
  display: none;
}

/* Buttons */
.btn {
  margin: 0 0 24px;
  padding: 11px 30px 10px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: var(--primary);
  transition: color .15s ease, background-color .15s ease;
}

.btn:hover {
  background: var(--primary-dark);
}

.btn--secondary {
  color: var(--almost-black);
  background: var(--secondary);
}

.btn--secondary:hover {
  background: var(--secondary-dark);
}

input[type=submit] {
  margin: 34px auto 24px;
  display: block;
}

.delete-button {
  margin-left: 10px;
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

.ai {
  color: var(--yellow);
}

.pdf-link {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pdf-link:hover {
  background-color: #0056b3;
}

header {
  background-color: #333;
  color: white;
  padding: 16px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  position: relative;
}

.menu-btn {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.slide-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.slide-menu a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.slide-menu a:hover {
  color: #f1f1f1;
  background-color: #555;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border: none;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.left-menu {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
}

.main-content {
  margin-left: 250px; /* Adjust this value according to the width of the left-side menu */
}

.graph-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.graph-popup-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  background-color: #fef
}




