{% extends "base.html" %}

{% block content %}

  <div>
    <header>
      <p>Suppl<a class="ai">AI</a>Sense</p>
      <span class="menu-btn" onclick="toggleMenu()">&#9776;</span>
    </header>
  </div>

  <div id="slideMenu" class="slide-menu">
      <a href="javascript:void(0)" class="close-btn" onclick="toggleMenu()">&times;</a>
      <input type="text" placeholder="Search..." />
      <a href="/documents">My Documents</a>
      <a href="/view-supply-chain">View Supply Chain</a>
      <a href="mynetwork.html">My Network</a>
  </div>

  <div class="card-wrapper">

    <div class="menu">

      <h1 class="center">Dashboard</h1>

      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div>

      <h2 class="center">Your Info</h2>

      <p>
        <strong>ID:</strong> {{ session['user']['_id'] }}<br>
        <strong>Name:</strong> {{ session['user']['name'] }}<br>
        <strong>Email:</strong> {{ session['user']['email'] }}
      </p>
    </div>
  </div>
  <script src="scripts.js"></script>

{% endblock %}