{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/style_dashboard.css" type="text/css" />
<link rel="stylesheet" href="/static/css/upload_file.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E

<div id="mySidenav" class="sidenav">
  <!-- Side menu content remains the same -->
  <a style="margin-left: 30px;" href="/now_dash">Back</a>
</div>

<div id="main">
  <!-- Replace the content with an img tag -->
  <img src="/static/imgs/diagram.png" alt="Diagram" id="dashboard-image" style="margin-bottom: 30px;"/>
</div>

<!-- footer -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2023 SuplaiSense. All rights reserved.</p>
  </div>
</footer>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E</script>
<!-- Remove the unnecessary script -->
{% endblock %}

{% endblock %}