{% extends "base.html" %}

{% block content %}

  <link rel="stylesheet" href="/static/css/log_in.css">

  <!-- Padding header dummy -->
  <div id="dummy"></div>

  <!-- Logo container -->
  <div class="logo-header">
      <img src="/static/imgs/Sense_f.svg" alt="SUPLAISENSE" class="logo">
  </div>

  <div id="page-container">
      <!-- log in form -->
      <div class="form-cont">
          <form id="myForm" name="login_form">
              <label for="email">Email</label>
              <input type="email" placeholder="jhon_smith@something.com" name="email" id="username" class="field" required>

              <label for="password">Password</label>
              <input type="password" name="password" class="field" placeholder="Password" id="password" required>

              <p class="error error--hidden"></p>

              <button type="submit" value="Log In" id="log-in">LOG IN</button>
              <div class="line"></div>
              <a id="sign-up" href="/sign_up">SIGN UP</a>
          </form>
      </div>

      <!-- footer -->
      <footer class="footer">
          <div class="container">
              <p>&copy; 2023 SuplaiSense. All rights reserved.</p>
          </div>
      </footer>
  </div>

{% endblock %}