{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">
    <div class="card">
        <h1>Connect with other users</h1>
        <form id="connect-form">
            <label for="user_id">Enter User ID</label>
            <input type="text" name="user_id" id="user_id" class="field" required>
            <input type="submit" class="btn" value="Connect">
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#connect-form').on('submit', function (e) {
      e.preventDefault();

      const user_id = $('#user_id').val();
      $.post('/connect', { user_id: user_id }, function (data) {
        if (data.error) {
          alert(data.error);
        } else {
          alert(data.message);
          $('#user_id').val('');
        }
      });
    });
  });
</script>

{% endblock %}

